<!DOCTYPE HTML>
<html>
	<head>
		<title> Motors Dynamic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="public/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="public/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<%- include("partials/header"); -%>

                <%- include("partials/menu"); -%>

			
				
				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>About Us</h1>
									</header>
									<% abouts.forEach(about =>{ %>
									<span class="image main"><img src="<%= about.aboutImage %>" alt="" /></span>
									<p><%= about.firstParagraph %></p>
									<p><%= about.secondParagraph %></p>
									<p><%= about.thirdParagraph %></p>
									<p><%= about.fourthParagraph %></p>
									<p><%= about.fifthParagraph %></p>
									<% }); %>
								</div>
							</section>
					</div>

                <%- include("partials/footer"); -%>


			</div>
	</body>
</html>