<!DOCTYPE HTML>
<html>
	<head>
		<title>Motors Dynamic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="public/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="public/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<%- include("partials/header"); -%>

                <%- include("partials/menu"); -%>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1><%= blog.title %></h1>

										<h4><%= blog.author %> &nbsp;/&nbsp; <%= blog.date %> &nbsp;/&nbsp; <%= blog.views %></h4>
									</header>
									<span class="image main"><img src="<%= blog.picturePath %>" alt="" /></span>
									<h4>Content:</h4>
									<p><%= blog.contentIntroduction%></p>
									<p><%= blog.contentBody%></p>
									<p><%= blog.contentConclusion%></p>
							
								</div>
							</section>

					</div>

					<section id="contact">
						<div class="inner">
							<section>
								<header class="major">
									<h2>Leave a Comment</h2>
								</header>

							
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>

										<div class="field half text-right">
											<ul class="actions">
												<li><input type="submit" value="Send Message" class="primary"></li>
											</ul>
										</div>
									</div>
								
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-info"></span>
										<h3>"Share Your Experience!"</h3>
										<span>Share your valuable insights on the car buying journey! We invite you to leave a comment detailing your experience. Your thoughts could be a guide for others navigating the process. Your feedback is crucial, so take a moment to share your story and contribute to our community's knowledge!</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-share"></span>
										<h3>Share</h3>

										<p style="position: relative;">
											<a href="#" style="position: relative;" class="icon alt fa-twitter"><span class="label">Twitter</span></a> &nbsp;
											<a href="#" style="position: relative;" class="icon alt fa-facebook"><span class="label">Facebook</span></a> &nbsp;
											<a href="#" style="position: relative;" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a> &nbsp;
											<a href="#" style="position: relative;" class="icon alt fa-behance"><span class="label">Behance</span></a>
										</p>
									</div>
								</section>
							</section>
						</div>
					</section>

                    <%- include("partials/footer"); -%>


			</div>

		

	</body>
</html>