<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Car Dealer Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<%- include("partials/header"); -%>

				<%- include("partials/menu"); -%>


				<!-- Main -->
					<div id="main" class="alt">
						
						<!-- One -->
							<section id="one">
								<div class="inner">
									
									<header class="major">
										<h1>	<%= cars.make %> 
											<%= cars.model %></h1>
									</header>


									<div class="row">
										<div class="col-md-6">
											<img src="<%= cars.firstPicture %>"  id="main-image" class="main-image" alt="">
										</div>
									
										<div class="col-md-6">
											<div class="row sub-images">
												<div class="col-md-4 col-xs-6">
													<img src="<%= cars.secondPicture %>" class="sub-image" alt="">
												</div>
												<div class="col-md-4 col-xs-6">
													<img src="<%= cars.thirdPicture %>" class="sub-image" alt="">
												</div>
											</div>
											<br>
											<h1><%= cars.price %> $</h1>
										</div>
									</div>
									

									<br>

									<form action="#">
										<div class="fields">
											<div class="field quarter">
							                    <label>TYPE:</label>
							                     
							                    <input type="text" readonly value="<%= cars.type %>">
							                </div>

							                <div class="field quarter">
							                    <label>MAKE:</label>
							                     
							                    <input type="text" readonly value="<%= cars.make %>">
							                </div>

							                <div class="field quarter">
							                    <label>MODEL:</label>
							                     
							                    <input type="text" readonly value="<%= cars.model %>">
							                </div>

							                <div class="field quarter">
							                    <label>PRICE:</label>
							                     
							                    <input type="text" readonly value="<%= cars.price %> $">
							                </div>

							                <div class="field quarter">
							                    <label>YEAR:</label>
							                     
							                    <input type="text" readonly value="<%= cars.year %>">
							                </div>

											<div class="field quarter">
							                    <label>MILAGE:</label>
							                     
							                    <input type="text" readonly value="<%= cars.milage %> Km">
							                </div>

							                <div class="field quarter">
							                    <label>BODY:</label>
							                     
							                    <input type="text" readonly value="<%= cars.body %>">
							                </div>

											<div class="field quarter">
							                    <label>FUEL:</label>
							                     
							                    <input type="text" readonly value="<%= cars.fuel %>">
							                </div>

							                <div class="field quarter">
							                    <label>ENGINE SIZE:</label>
							                     
							                    <input type="text" readonly value="<%= cars.engineSize %> L">
							                </div>

							                <div class="field quarter">
							                    <label>POWER:</label>
							                     
							                    <input type="text" readonly value="<%= cars.power %> HP">
							                </div>

							                <div class="field quarter">
							                    <label>GEARBOX:</label>
							                     
							                    <input type="text" readonly value="<%= cars.gearBox %>">
							                </div>

							                <div class="field quarter">
							                    <label>COLOR:</label>
							                     
							                    <input type="text" readonly value="<%= cars.color %>">
							                </div>
										</div>
									</form>
								</div>
							</section>

							<section id="contact">
								<div class="inner">
									<section>
										<header class="major">
											<h2>Vehicle Description</h2>
										</header>

										<h4>- <%= cars.type %> <br>- <%= cars.make %> <br>- <%= cars.model %> <br>- <%= cars.price %> <br>- <%= cars.year %> <br>- <%= cars.milage %> <br>- <%= cars.body %> <br>- <%= cars.fuel %> <br>- <%= cars.engineSize %> <br>- <%= cars.power %> <br>- <%= cars.gearBox %> <br>- <%= cars.color %></h4>
									</section>
								
								

									<section class="split">
										<section>
											<div class="contact-method">
												<span class="icon alt fa-user"></span>
												<h3>Name</h3>
												<span><%= contacts.name %></span>
											</div>
										</section>

										<section>
											<div class="contact-method">
												<span class="icon alt fa-envelope"></span>
												<h3>Email</h3>
												<a href="#"><%= contacts.eMail %></a>
											</div>
										</section>
										<section>
											<div class="contact-method">
												<span class="icon alt fa-phone"></span>
												<h3>Phone</h3>
												<span><%= contacts.firstPhone %></span>
											</div>
										</section>

										<section>
											<div class="contact-method">
												<span class="icon alt fa-phone"></span>
												<h3>Mobile Phone</h3>
												<span><%= contacts.secondPhone %></span>
											</div>
										</section>
									</section>
								</div>
							</section>
					</div>

                <%- include("partials/footer"); -%>

			</div>

		
			
	</body>
	
</html>