<!DOCTYPE html>
<html>

<head>
	<title>PHPJabbers.com | Free Car Dealer Website Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<%- include("partials/header"); -%> <%- include("partials/menu"); -%>

				<!-- Main -->
				<div id="main" class="alt">
					<!-- One -->
					<section id="one">
						<div class="inner">
							<header class="major">
								<h1>Cars</h1>
							</header>
						</div>
					</section>

					<section>
						<div class="inner">
							<form method="post" action="#">
								<div class="fields">
									
									


									
										

											<div class="field quarter">
												<label >Used:</label>
												<select id="used" ,name="used">
													<option value="">-- All  Used --</option>							                        
												</select>
											</div>
									
											<div class="field quarter">
							                    <label >MAKE:</label>
												<select id="make" ,name="make">
							                        <option value="">-- All  Make --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>MODEL:</label>
												<select id="model" ,name="model">
							                        <option value="">-- All Model --</option>							                        
							                    </select>
											</div>

										
											<div class="field quarter">
							                    <label>PRICE:</label>
												<select id="price" ,name="price">
							                        <option value="">-- All Price --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>YEAR:</label>
												<select id="year" ,name="year">
							                        <option value="">-- All Year --</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>MILAGE:</label>
												<select id="milage" ,name="milage">
							                        <option value="">-- All Milage-</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>BODY:</label>
												<select id="body" ,name="body">
							                        <option value="">-- All Body --</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>FUEL:</label>
												<select id="fuel" name="fuel">
							                        <option value="">-- All Fuel --</option>							                        
							                    </select>
											</div>
											

											<div class="field quarter">
							                    <label>ENGINE SIZE:</label>
												<select id="engineSize" ,name="engineSize">
							                        <option value="">-- All Engine Size --</option>							                        
							                    </select>
											</div>

												
											<div class="field quarter">
							                    <label>POWER:</label>
												<select id="power" ,name="power">
							                        <option value="">-- All Power --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>GEARBOX:</label>
												<select id="gearBox", name="gearBox">
							                        <option value="">-- All GearBox --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>COLOR:</label>
												<select id="color", name="color">
							                        <option value="">-- All Color --</option>							                        
							                    </select>
											</div>


												<!-- filtreleme butonu -->
													<div class="field half text-right">
														<ul class="actions">
															<li>
																<input type="submit" value="Searcfsdh"
																	class="primary" />
															</li>
														</ul>
													</div>
									
								</div>
							</form>
						</div>
					</section>

					<!-- Featured Cars -->
					<section class="tiles">
						<% cars.forEach(car=> { %>

							<article>
								<span class="image">
									<img src="<%= car.firstPicture %>" alt="" />
								</span>

								<header class="major">
									<p>
										<i class="fa fa-dashboard"></i>
										<%=car.milage%> km&nbsp;&nbsp;
											<i class="fa fa-cube"></i>
											<%=car.engineSize%>
												Engine&nbsp;&nbsp; <i class="fa fa-cog"></i>
												<%= car.gearBox %>
									</p>

									<h3>
										<%= car.make %>
											<%= car.model %>
									</h3>

									<p><strong>
											<%= car.price %>$
										</strong></p>

									<p>
										<%= car.power %> hp / <%= car.fuel %> / <%= car.year %> / <%= car.type %>
														vehicle
									</p>

									<div class="major-actions">
										<a href="/car-details?id=<%= car.ID %>" class="button small next">View Details</a>
									</div>
								</header>
							</article>

							<% }) %>
					</section>
				</div>

				<%- include("partials/footer"); -%>
	</div>
	



</body>

</html>
<script>
	debugger;
	

	
	function fetchData(parent_element , child_element, type){
		fetch('filter_data?type=' + type + '&parent_value=' + parent_element.value + '&child_value=' + child_element.value)
		.then(function(response){
				return response.json();
			}).then(function(responseData){
				var html= '';
				if(type == 'load_type')
					html = '<option value ="">-- All Type --</option>';
				if(type == 'load_make')
					html = '<option value ="">-- All Make --</option>';
				if(type == 'load_model')
					html = '<option value ="">-- All Model --</option>';
				if(type == 'load_price')
					html = '<option value ="">-- All Price --</option>';
				if(type == 'load_year')
					html = '<option value ="">-- All Year --</option>';
				if(type == 'load_milage')
					html = '<option value ="">-- All Milage --</option>';
				if(type == 'load_body')
					html = '<option value ="">-- All Body --</option>';
				if(type == 'load_fuel')
					html = '<option value ="">-- All Fuel --</option>';
				if(type == 'load_engineSize')
					html = '<option value ="">-- All Engine Size --</option>';
				if(type == 'load_power')
					html = '<option value ="">-- All Power --</option>';
				if(type == 'load_gearBox')
					html = '<option value ="">-- All GearBox --</option>';
				if(type == 'load_color')
					html = '<option value ="">-- All Color --</option>';

				for(var count=0; count < responseData.length ; count++){
					html+= '<option value="'+responseData[count]+'">'+responseData[count]+'</option>' ;
				}
				child_element.innerHTML=html;
			});
	}


	function _(element){
		return document.getElementById(element);
	}

	function setOnchangeHandler(elementId, callback) {
    var element = document.getElementById(elementId);
    if (element) {
        element.onchange = callback;
    } else {
        console.error("Element with id '" + elementId + "' not found.");
    	}
	}

// Kullanım örneği
	setOnchangeHandler('type', function() {
    	fetchData(_('type'), _('make'), 'load_make');
    	fetchData(_('type'), _('model'), 'load_model');
    	fetchData(_('type'), _('price'), 'load_price');
  		 	fetchData(_('type'), _('year'),'load_year');
			fetchData(_('type'), _('milage'),'load_milage');
			fetchData(_('type'), _('body'),'load_body');
			fetchData(_('type'), _('fuel'),'load_fuel');
			fetchData(_('type'), _('engineSize'),'load_engineSize');
			fetchData(_('type'), _('power'),'load_power');
			fetchData(_('type'), _('gearBox'),'load_gearBox');
			fetchData(_('type'), _('color'),'load_color');
});




	
		// _('type').onchange = function(){
			
		// 	fetchData(_('type'), _('make'),'load_make');
		// 	fetchData(_('type'), _('model'),'load_model');
		// 	fetchData(_('type'), _('price'),'load_price');
		// 	fetchData(_('type'), _('year'),'load_year');
		// 	fetchData(_('type'), _('milage'),'load_milage');
		// 	fetchData(_('type'), _('body'),'load_body');
		// 	fetchData(_('type'), _('fuel'),'load_fuel');
		// 	fetchData(_('type'), _('engineSize'),'load_engineSize');
		// 	fetchData(_('type'), _('power'),'load_power');
		// 	fetchData(_('type'), _('gearBox'),'load_gearBox');
		// 	fetchData(_('type'), _('color'),'load_color');
		// }

		_('make').onchange = function(){
			fetchData(_('make'), _('type'),'load_type');
			fetchData(_('make'), _('model'),'load_model');
			fetchData(_('make'), _('price'),'load_price');
			fetchData(_('make'), _('year'),'load_year');
			fetchData(_('make'), _('milage'),'load_milage');
			fetchData(_('make'), _('body'),'load_body');
			fetchData(_('make'), _('fuel'),'load_fuel');
			fetchData(_('make'), _('engineSize'),'load_engineSize');
			fetchData(_('make'), _('power'),'load_power');
			fetchData(_('make'), _('gearBox'),'load_gearBox');
			fetchData(_('make'), _('color'),'load_color');
		}

		_('model').onchange = function(){
			fetchData(_('model'), _('type'),'load_type');
			fetchData(_('model'), _('make'),'load_make');
			fetchData(_('model'), _('price'),'load_price');
			fetchData(_('model'), _('year'),'load_year');
			fetchData(_('model'), _('milage'),'load_milage');
			fetchData(_('model'), _('body'),'load_body');
			fetchData(_('model'), _('fuel'),'load_fuel');
			fetchData(_('model'), _('engineSize'),'load_engineSize');
			fetchData(_('model'), _('power'),'load_power');
			fetchData(_('model'), _('gearBox'),'load_gearBox');
			fetchData(_('model'), _('color'),'load_color');
		}

		_('price').onchange = function(){
			fetchData(_('price'), _('type'),'load_type');
			fetchData(_('price'), _('make'),'load_make');
			fetchData(_('price'), _('model'),'load_model');
			fetchData(_('price'), _('year'),'load_year');
			fetchData(_('price'), _('milage'),'load_milage');
			fetchData(_('price'), _('body'),'load_body');
			fetchData(_('price'), _('fuel'),'load_fuel');
			fetchData(_('price'), _('engineSize'),'load_engineSize');
			fetchData(_('price'), _('power'),'load_power');
			fetchData(_('price'), _('gearBox'),'load_gearBox');
			fetchData(_('price'), _('color'),'load_color');
		}

		_('year').onchange = function(){
			fetchData(_('year'), _('type'),'load_type');
			fetchData(_('year'), _('make'),'load_make');
			fetchData(_('year'), _('model'),'load_model');
			fetchData(_('year'), _('price'),'load_price');
			fetchData(_('year'), _('milage'),'load_milage');
			fetchData(_('year'), _('body'),'load_body');
			fetchData(_('year'), _('fuel'),'load_fuel');
			fetchData(_('year'), _('engineSize'),'load_engineSize');
			fetchData(_('year'), _('power'),'load_power');
			fetchData(_('year'), _('gearBox'),'load_gearBox');
			fetchData(_('year'), _('color'),'load_color');
		}

		_('milage').onchange = function(){
			fetchData(_('milage'), _('type'),'load_type');
			fetchData(_('milage'), _('make'),'load_make');
			fetchData(_('milage'), _('model'),'load_model');
			fetchData(_('milage'), _('price'),'load_price');
			fetchData(_('milage'), _('year'),'load_year');
			fetchData(_('milage'), _('body'),'load_body');
			fetchData(_('milage'), _('fuel'),'load_fuel');
			fetchData(_('milage'), _('engineSize'),'load_engineSize');
			fetchData(_('milage'), _('power'),'load_power');
			fetchData(_('milage'), _('gearBox'),'load_gearBox');
			fetchData(_('milage'), _('color'),'load_color');
		}

		_('body').onchange = function(){
			fetchData(_('body'), _('type'),'load_type');
			fetchData(_('body'), _('make'),'load_make');
			fetchData(_('body'), _('model'),'load_model');
			fetchData(_('body'), _('price'),'load_price');
			fetchData(_('body'), _('year'),'load_year');	
			fetchData(_('body'), _('milage'),'load_milage');
			fetchData(_('body'), _('fuel'),'load_fuel');
			fetchData(_('body'), _('engineSize'),'load_engineSize');
			fetchData(_('body'), _('power'),'load_power');
			fetchData(_('body'), _('gearBox'),'load_gearBox');
			fetchData(_('body'), _('color'),'load_color');
		}

		_('fuel').onchange = function(){
			fetchData(_('fuel'), _('type'),'load_type');
			fetchData(_('fuel'), _('make'),'load_make');
			fetchData(_('fuel'), _('model'),'load_model');
			fetchData(_('fuel'), _('price'),'load_price');
			fetchData(_('fuel'), _('year'),'load_year');		
			fetchData(_('fuel'), _('milage'),'load_milage');
			fetchData(_('fuel'), _('body'),'load_body');fuel
			fetchData(_('fuel'), _('engineSize'),'load_engineSize');
			fetchData(_('fuel'), _('power'),'load_power');
			fetchData(_('fuel'), _('gearBox'),'load_gearBox');
			fetchData(_('fuel'), _('color'),'load_color');
		}

		_('engineSize').onchange = function(){
			fetchData(_('engineSize'), _('type'),'load_type');
			fetchData(_('engineSize'), _('make'),'load_make');
			fetchData(_('engineSize'), _('model'),'load_model');
			fetchData(_('engineSize'), _('price'),'load_price');
			fetchData(_('engineSize'), _('year'),'load_year');		
			fetchData(_('engineSize'), _('milage'),'load_milage');
			fetchData(_('engineSize'), _('body'),'load_body');
			fetchData(_('engineSize'), _('fuel'),'load_fuel');
			fetchData(_('engineSize'), _('power'),'load_power');
			fetchData(_('engineSize'), _('gearBox'),'load_gearBox');
			fetchData(_('engineSize'), _('color'),'load_color');
		}

		_('power').onchange = function(){
			fetchData(_('power'), _('type'),'load_type');
			fetchData(_('power'), _('make'),'load_make');
			fetchData(_('power'), _('model'),'load_model');
			fetchData(_('power'), _('price'),'load_price');
			fetchData(_('power'), _('year'),'load_year');		
			fetchData(_('power'), _('milage'),'load_milage');
			fetchData(_('power'), _('body'),'load_body');
			fetchData(_('power'), _('fuel'),'load_fuel');
			fetchData(_('power'), _('engineSize'),'load_engineSize');
			fetchData(_('power'), _('gearBox'),'load_gearBox');
			fetchData(_('power'), _('color'),'load_color');
		}

		_('gearBox').onchange = function(){
			fetchData(_('gearBox'), _('type'),'load_type');
			fetchData(_('gearBox'), _('make'),'load_make');
			fetchData(_('gearBox'), _('model'),'load_model');
			fetchData(_('gearBox'), _('price'),'load_price');
			fetchData(_('gearBox'), _('year'),'load_year');		
			fetchData(_('gearBox'), _('milage'),'load_milage');
			fetchData(_('gearBox'), _('body'),'load_body');
			fetchData(_('gearBox'), _('fuel'),'load_fuel');
			fetchData(_('gearBox'), _('engineSize'),'load_engineSize');
			fetchData(_('gearBox'), _('power'),'load_power');
			fetchData(_('gearBox'), _('color'),'load_color');
		}

		_('color').onchange = function(){
			fetchData(_('color'), _('type'),'load_type');
			fetchData(_('color'), _('make'),'load_make');
			fetchData(_('color'), _('model'),'load_model');
			fetchData(_('color'), _('price'),'load_price');
			fetchData(_('color'), _('year'),'load_year');		
			fetchData(_('color'), _('milage'),'load_milage');
			fetchData(_('color'), _('body'),'load_body');
			fetchData(_('color'), _('fuel'),'load_fuel');
			fetchData(_('color'), _('engineSize'),'load_engineSize');
			fetchData(_('color'), _('power'),'load_power');
			fetchData(_('color'), _('gearBox'),'load_gearBox');
		}

		</script>

