<!DOCTYPE html>
<html>

<head>
	<title>PHPJabbers.com | Free Car Dealer Website Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<%- include("partials/header"); -%> <%- include("partials/menu"); -%>

				<!-- Main -->
				<div id="main" class="alt">
					<!-- One -->
					<section id="one">
						<div class="inner">
							<header class="major">
								<h1>Cars</h1>
							</header>
						</div>
					</section>

					<section>
						<div class="inner">
							<form method="post" action="#">
								<div class="fields">
									
									


									
										

											<div class="field quarter">
												<label >Used:</label>
												<select id="used" ,name="used">
													<option value="">-- All  Used --</option>							                        
												</select>
											</div>
									
											<div class="field quarter">
							                    <label >MAKE:</label>
												<select id="make" ,name="make">
							                        <option value="">-- All  Make --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>MODEL:</label>
												<select id="model" ,name="model">
							                        <option value="">-- All Model --</option>							                        
							                    </select>
											</div>

										
											<div class="field quarter">
							                    <label>PRICE:</label>
												<select id="price" ,name="price">
							                        <option value="">-- All Price --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>YEAR:</label>
												<select id="year" ,name="year">
							                        <option value="">-- All Year --</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>MILAGE:</label>
												<select id="milage" ,name="milage">
							                        <option value="">-- All Milage-</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>BODY:</label>
												<select id="body" ,name="body">
							                        <option value="">-- All Body --</option>							                        
							                    </select>
											</div>

											<div class="field quarter">
							                    <label>FUEL:</label>
												<select id="fuel" name="fuel">
							                        <option value="">-- All Fuel --</option>							                        
							                    </select>
											</div>
											

											<div class="field quarter">
							                    <label>ENGINE SIZE:</label>
												<select id="engineSize" ,name="engineSize">
							                        <option value="">-- All Engine Size --</option>							                        
							                    </select>
											</div>

												
											<div class="field quarter">
							                    <label>POWER:</label>
												<select id="power" ,name="power">
							                        <option value="">-- All Power --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>GEARBOX:</label>
												<select id="gearBox", name="gearBox">
							                        <option value="">-- All GearBox --</option>							                        
							                    </select>
											</div>


											<div class="field quarter">
							                    <label>COLOR:</label>
												<select id="color", name="color">
							                        <option value="">-- All Color --</option>							                        
							                    </select>
											</div>


												<!-- filtreleme butonu -->
													<div class="field half text-right">
														<ul class="actions">
															<li>
																<input type="submit" value="Searcfsdh"
																	class="primary" />
															</li>
														</ul>
													</div>
									
								</div>
							</form>
						</div>
					</section>

					<!-- Featured Cars -->
					<section class="tiles">
						<% cars.forEach(car=> { %>

							<article>
								<span class="image">
									<img src="<%= car.firstPicture %>" alt="" />
								</span>

								<header class="major">
									<p>
										<i class="fa fa-dashboard"></i>
										<%=car.milage%> km&nbsp;&nbsp;
											<i class="fa fa-cube"></i>
											<%=car.engineSize%>
												Engine&nbsp;&nbsp; <i class="fa fa-cog"></i>
												<%= car.gearBox %>
									</p>

									<h3>
										<%= car.make %>
											<%= car.model %>
									</h3>

									<p><strong>
											<%= car.price %>$
										</strong></p>

									<p>
										<%= car.power %> hp / <%= car.fuel %> / <%= car.year %> / <%= car.type %>
														vehicle
									</p>

									<div class="major-actions">
										<a href="/car-details?id=<%= car.ID %>" class="button small next">View Details</a>
									</div>
								</header>
							</article>

							<% }) %>
					</section>
				</div>

				<%- include("partials/footer"); -%>
	</div>
	
</body>
</html>
	

