<!DOCTYPE html>
<html>

<head>
	<title>Motors Dynamic</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<%- include("partials/header"); -%> <%- include("partials/menu"); -%>

				<!-- Main -->
				<div id="main" class="alt">
					<!-- One -->
					<section id="one">
						<div class="inner">
							<header class="major">
								<h1>Cars</h1>
							</header>
						</div>
					</section>

					

					<!-- Featured Cars -->
					<section class="tiles">
						<% cars.forEach(car=> { %>

							<article>
								<span class="image">
									<img src="<%= car.firstPicture %>" alt="" />
								</span>

								<header class="major">
									<p>
										<i class="fa fa-dashboard"></i>
										<%=car.milage%> km&nbsp;&nbsp;
											<i class="fa fa-cube"></i>
											<%=car.engineSize%>
												Engine&nbsp;&nbsp; <i class="fa fa-cog"></i>
												<%= car.gearBox %>
									</p>

									<h3>
										<%= car.make %>
											<%= car.model %>
									</h3>

									<p><strong>
											<%= car.price %>$
										</strong></p>

									<p>
										<%= car.power %> hp / <%= car.fuel %> / <%= car.year %> / <%= car.type %>
														vehicle
									</p>

									<div class="major-actions">
										<a href="/car-details?id=<%= car.ID %>" class="button small next">View Details</a>
									</div>
								</header>
							</article>

							<% }) %>
					</section>
				</div>

				<%- include("partials/footer"); -%>
	</div>
	
</body>
</html>
	

