
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<%- include("partials/header.ejs"); -%>
				<%- include("partials/menu.ejs"); -%>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Welcome to  MOTORS DYNAMIC</h1>
							</header>
							<div class="content">
								<p>Motors Dynamic offers you the best offer you can get!</p>
								<ul class="actions">
									<li><a href="/contact" class="button next scrolly">Contact us</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							
							<!-- Featured Cars -->
							<section class="tiles">
								<% cars.forEach(car=> { %>
		
									<article>
										<span class="image">
											<img src="<%= car.firstPicture %>" alt="" />
										</span>
		
										<header class="major">
											<p>
												<i class="fa fa-dashboard"></i>
												<%=car.milage%> km&nbsp;&nbsp;
													<i class="fa fa-cube"></i>
													<%=car.engineSize%>
														Engine&nbsp;&nbsp; <i class="fa fa-cog"></i>
														<%= car.gearBox %>
											</p>
		
											<h3>
												<%= car.make %>
													<%= car.model %>
											</h3>
		
											<p><strong>
													<%= car.price %>$
												</strong></p>
		
											<p>
												<%= car.power %> hp / <%= car.fuel %> / <%= car.year %> / <%= car.type %>
																vehicle
											</p>
		
											<div class="major-actions">
												<a href="/car-details?id=<%= car.ID %>" class="button small next">View Details</a>
											</div>
										</header>
									</article>
		
									<% }) %>
							</section>
							
							<!-- About us -->
							<section>
								<div class="inner">
									<header class="major">
										<h2>About us</h2>
									</header>
										<% abouts.forEach(about => { %>
										  <p><%= about.firstParagraph %></p>
										<% }); %>
										<ul class="actions">
										  <li><a href="/about" class="button next">Read more</a></li>
										</ul>
								</div>
							</section>

							<!-- Blog Posts -->
							<section class="tiles">
								<% blogs.forEach(blog => { %>
								<article>
									<span class="image">
										<img src="<%= blog.picturePath %>" alt="" />
									</span>
									<header class="major">
										<h3><%= blog.title %></h3>
										
										<p><%= blog.author %> &nbsp;/&nbsp; <%= blog.date %> &nbsp;/&nbsp; <%= blog.views %></p>

										<div class="major-actions">
											<a href="blog-details?id=<%= blog.id %>" class="button small next">Read the Blog</a>
										</div>
									</header>
								</article>
								<% }); %>
								
								
							</section>

							<!-- Testimonials -->
							<section>
								<div class="inner">
									<header class="major">
										<h2>Testimonials</h2>
									</header>
									<div class="row">

										<% testimonials.forEach(testimonial => { %>



										<div class="col-6">
											<p><em><%= testimonial.content %></em></p>
											<p><strong>- <%= testimonial.author %> </strong></p>
											
										</div>

										<!-- <div class="col-6">
											<p><em>"We purchased a vehicle and had a great experience! The staff is very friendly and answered all our questions. Hassle-free test drive and all information clearly presented. We will definitely recommend Motors Dynamic Sales to anyone looking for a car!"</em></p>
											<p><strong>- Jessica Schell</strong></p>
										</div> -->
										<% }); %>
									</div>
									<ul class="actions">
										<li><a href="testimonials" class="button next">Read more</a></li>
									</ul>
								</div>
							</section>
					</div>

					<%- include("partials/footer.ejs"); -%> 
			</div>

	</body>
</html>